.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
}
.logo {
    font-size: 25px;
    font-weight: bold;
}
ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
button {
    padding: 10px 20px;
}