body{
    text-align: left;
    /* text-decoration: line-through;
} */
}
/* Text shadow format:
2px  → Horizontal position
2px  → Vertical position
5px  → Blur
gray → Shadow color */
h1{
    text-shadow: 2px 2px 5px gray;
}
p{
    text-indent: 40px;
}